/* Initialization */ 
* {margin: 0; padding: 0;}
li {list-style: none;}

/* common */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.body{
    background: #f1f1f1;
    color: #777;
}






























